---
# tasks file for wordpress-mariadb
- name: install epel-release
  yum:
    name: epel-release
    state: latest

- name: install mysql_config which is inside MariaDB-devel required by mysql-python
  yum:
    name: MariaDB-devel
    state: latest

- name: install gcc which is required by mysql-python

- name: install pip
  yum:
    name: python-pip
    state: latest

- name: install mysql-python
  pip:
    name: mysql-python

- name: create database
  mysql_db:
    name: "{{ db_name }}"
    state: present

- name: create database user
  mysql_user:
    name: "{{ db_user }}"
    password: "{{ db_password }}"
    state: present
    priv: "{{ db_name }}.*:ALL"